@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --mainBlue : #5964E0;
    --greyColor : #f4f8f8;
    --darkGrey :  #6E8098;
    --fontFamily: 'Kumbh Sans', sans-serif;
    --blackFont: #19202D;
}

body {
    height: 100%;
    background-color: var(--greyColor);
    font-family: var(--fontFamily);
}

.top-bg {
    background-image: url("./assets/mobile/bg-pattern-header.svg"); /* The image used */
    background-color: #5964E0; /* Used if the image is unavailable */
    height: 140px; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.flex {
    display: flex;
}

.top-bg>div {
    padding-top: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
}

.input-wrap {
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 85%;
    height: 5rem;
    margin: -2.5rem auto 0;  
    border-radius: 5px;
}

input::placeholder {
    font-size: 15px;
    font-weight: 400;
    color: var(--blackFont);
    opacity: 50%;
}

input[type="radio"]{
    margin: 0 0.5rem;
}

.search-input,
.input-location,
button  {
    border: none;
    background-color: inherit;
    outline: none;
}

.search-wrap {
    width: 3rem;
    height: 3rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    background-color: var(--mainBlue);
}

.search-wrap img {
    width: 1.2rem;
    height: 1.2rem;
}

.box,
.form {
    background-color: #fff;
    min-height: 200px;
    margin: 3.5rem auto 1rem;
    border-radius: 5px;
    padding: 0 1rem 2rem;
    width: 85%;
}

.logo-wrap {
    width: 3rem;
    height: 3rem;
    border-radius: 16px;
    position: relative; 
    top: -1.5rem;
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center; 
}

.job-info {
    color: var(--darkGrey);
    font-weight: 400;
}

.job-info span {
    margin: 0 0.5rem;
}

h1 {
    color: var(--blackFont);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

h2 {
    font-size: 0.95rem;
    font-weight: 700;
    color: #5964E0;
    margin-top: 2.5rem;
}

.form {
    padding: 2rem 1.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    z-index: 99;
    display: none;
}

#location {
    margin-right: 1rem;
}

.line {
    height: 1px;
    background-color: var(--darkGrey);
    opacity: 20%;
    margin: 1.3rem 0;
}

label {
    font-weight: 700;
    color: var(--blackFont);
    margin-left: 1rem;
}

button {
    width: -webkit-fill-available;
    height: 3rem;
    background-color: var(--mainBlue);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 1.3rem;
    font-size: 15px;
}

.overlay  {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100vw
  }