@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --mainBlue : #5964E0;
    --greyColor : #f4f8f8;
    --darkGrey :  #6E8098;
    --fontFamily: 'Kumbh Sans', sans-serif;
    --blackFont: #19202D;
    --lightBlue: #e9ebfd;
}

body {
    height: 100%;
    background-color: var(--greyColor);
    font-family: var(--fontFamily);
}

a {
    text-decoration: none;
}

.top-bg {
    background-image: url("./assets/mobile/bg-pattern-header.svg"); /* The image used */
    background-color: #5964E0; /* Used if the image is unavailable */
    height: 140px; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.flex {
    display: flex;
}

.top-bg>div {
    padding-top: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
}

.input-wrap {
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 85%;
    height: 5rem;
    margin: -2.5rem auto 0;  
    border-radius: 5px;
}

input::placeholder {
    font-size: 15px;
    font-weight: 400;
    color: var(--blackFont);
    opacity: 50%;
}

input[type="radio"]{
    margin: 0 0.5rem;
}

.search-input,
.input-location,
button  {
    border: none;
    background-color: inherit;
    outline: none;
}

.search-wrap {
    width: 3rem;
    height: 3rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    background-color: var(--mainBlue);
}

.search-wrap img {
    width: 1.2rem;
    height: 1.2rem;
}

.box {
    min-height: 200px;
}

.box,
.form {
    background-color: #fff;
   
    margin: 3.5rem auto 1rem;
    border-radius: 5px;
    padding: 0 1rem 2rem;
    width: 85%;
}

.logo-wrap {
    width: 3rem;
    height: 3rem;
    border-radius: 16px;
    position: relative; 
    top: -1.5rem;
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center; 
}

.job-info {
    color: var(--darkGrey);
    font-weight: 400;
}

.job-info .dot {
    margin: 0 0.5rem;
}

h1 {
    color: var(--blackFont);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

h2 {
    font-size: 0.95rem;
    font-weight: 700;
    color: #5964E0;
    margin-top: 2.5rem;
}

.form {
    padding: 2rem 1.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    z-index: 99;
    display: none;
    height: 200px;
}

#location {
    margin-right: 1rem;
}

.line {
    height: 1px;
    background-color: var(--darkGrey);
    opacity: 20%;
    margin: 1.3rem 0;
}

label {
    font-weight: 700;
    color: var(--blackFont);
    margin-left: 1rem;
}

button {
    width: -webkit-fill-available;
    height: 3rem;
    background-color: var(--mainBlue);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 1.3rem;
    font-size: 15px;
}

.overlay  {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100vw
  }

  .inner-page {
      display: none;
  }

  .blue {
      color: #fff;
  }

  .hide-mobile {
    display: none;
}

/** STYLES FOR THE INNER PAGE*/
    .details-box {
        width: 90%;
        background-color: #fff;
        margin: -1rem auto 2rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .company-logo-inner {
        width: 4rem;
        height: 4rem;
        border-radius: 20px;
        background-color: brown;
        margin: -2rem auto 0;
    }

    .company-site {
        width: 10rem;
        background-color: var(--lightBlue);
    }

    .company-site a {
        color: var(--mainBlue);
    }

    .details-box p {
        text-align: center;
    }

    .company-name {
        font-weight: 600;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    .description-container,
    .footer {
        background-color: #fff;
        width: 90%;
        margin: auto;
        border-radius: 5px;
        padding: 2.5rem 2rem ;
    }

    .notes, 
    li {
        opacity: 70%;
        line-height: 1.7;
    }

    .job-location {
        margin-top: unset;
    }

    .apply-now {
        margin: 3rem 0 2rem;
    }

    .apply-now  a,
    .footer button a {
        color: #fff;
    }

    .black-h2 {
        color: var(--blackFont);
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    ul, 
    ol{
        padding-left: 1rem;
        margin: 1rem 0;
    }

    li {
        padding-left: 1.5rem;
    }

    .footer {
        width: 100vw;
        margin-top: 3rem;
    }

    .footer button {
        margin-top: unset;
    }


  @media only screen and (min-width: 700px) {
    .hide-mobile {
        display: block;
    }

    .filter-wrap {
        display: none;
    }

    .input-wrap {
        margin: -2rem 0 0 3rem;
        width: 30%;
        border-radius: unset;
    }

    .form {
       /* display: flex !important;*/
        align-items: center;
        justify-content: center;
        height: auto;
        width: 65%;
        transform: unset;
        top: -80px;
        left: unset;
        padding: 1rem;
        margin: unset;
        margin-left: 13rem;
        border-radius: unset;
        position: relative;
    } 

    button{
        width: 5rem;
        margin: 0 0 0 2rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 20px
    }

    .box {
        padding: 0 1.5rem 2rem;
        width: 340px;

    }

    /* STYLES FOR INNER PAGE**/
    .details-box{
        justify-content: space-between;
        padding-bottom: unset;
        height: 8rem;
    }
    .details-box>div {
        display: flex;
        width: inherit;
        justify-content: space-between;
    }

    .company-logo-inner {
        margin: unset;
        margin-right: 2rem;
        border-radius: unset;
        border-bottom-left-radius: 10px;
        height: inherit;
        width: 8rem;
    }

    .inner-logo {
        height: 3rem;
    }

    .company-wrap {
        display: flex;
    }

    .company-name {
        font-size: 1.4rem;
        margin-top: 2rem;
    }

    .details-box p {
        text-align: unset;
    }

    .company-site{
        margin-top: 2.5rem;
    }

    .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 1.7rem;
    }

   .description .apply-now {
        width: 8rem;
    }

    .footer .black-h2 {
        font-size: 1.4rem;
        margin: 0 0 0.5rem  0;
    }

    .footer {
        margin-bottom: 8rem;
    }

    .footer-tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer button {
        width: 8rem;
    }



  }

  
  @media only screen and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }

    .box {
        width: 300px;
    }
  }

  @media only screen and (min-width: 1300px) {
    .box {
        width: 340px;
    }
  }