* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --mainBlue : #5964E0;
    --greyColor : #f4f8f8;
}

body {
    height: 80vh;
    background-color: var(--greyColor);
}

.top-bg {
    background-image: url("./assets/mobile/bg-pattern-header.svg"); /* The image used */
    background-color: #5964E0; /* Used if the image is unavailable */
    height: 130px; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.input-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 85vw;
    height: 5rem;
    margin: -2.5rem auto 0;  
    border-radius: 5px;
}

input {
    border: none;
    background-color: inherit;
    outline: none;
}

.search-wrap {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--mainBlue);
}

.search-wrap img {
    width: 1.2rem;
    height: 1.2rem;
}
